@import "reset";
@import "modules/messages";
@import "font-awesome-sprockets";
@import "font-awesome";
@import "modules/variables";

.wrapper{
  width: 100%;
  height: 100vh;
  display: flex;
  .side {
    height: 100vh;
    width: 300px;
    &__header {
      height: 100px;
      background-color: #253141;
      display: flex;
      align-items: center;
      &__box{
        height: 20px;
        width: 100%;
        margin: 0 20px;
        display: flex;
        justify-content: space-between;
        line-height: 20px;
        p {
          color:$main_color;
          font-weight: bold;
        }
        ul {
          width: 60px;
          height: 20px;
          text-decoration: none;
          li {
            float: right;
            margin-left: 5px;
            color: $main_color;
            line-height: 20px;
          }
        }
      }
    }
    &__groups {
      height: calc(100vh - 100px);
      background-color: #2f3e51;
      color: $main_color;
      &__name {
        padding: 20px 20px 0 20px;
        .name {
          font-size: 15px;
          font-weight: bold;
        }
      }
      &__message {
        margin: 5px 20px 40px 20px;
        .message {
          font-size: 11px;
          font-weight: bold;
        }
      }
    }
  }
  .main {
    background-color: $main_color;
    height: 100vh;
    width: calc(100% - 300px);
    &__header {
      height: 100px;
      background-color: $main_color;
      border-bottom: 1px solid #eeeeee;
      display: flex;
      justify-content: space-between;
      &__group {
        .group__name {
          display: block;
          margin: 35px 40px 0;
          font-size: 20px;
          color: #333333;
          font-weight: bold;
        }
        p {
          margin: 15px 40px 0;
          font-size: 12px;
          color: #999999;
        }
      }
      &__edit_btn {
        height: 40px;
        width: 72px;
        color: #38aef0;
        border: 1px solid;
        margin: 28px 40px;
        text-align: center;
        line-height: 40px;
        
        a {
          text-decoration: none;
          color: #38aef0;
        }
      }
    }
    &__messages {
      height: calc(100vh - 100px - 90px);
      background-color: #fafafa;
      overflow: hidden;
      &__list {
        margin: 35px 0 0 40px;
        &__data {
          display: flex;
          .message_name {
            font-size: 16px;
            color: #333333;
          }
          .date {
            margin-left: 10px;
            font-size: 12px;
            color: #999999;
          }
        }
        &__chat {
          margin: 12px 0 46px 0;
          .chat {
            font-size: 14px;
            color: #434a54;
          }
        }
      }
    }
    &__form {
      height: 90px;
      width: 100%;
      background-color: #d2d2d2;
      padding: 20px 40px;
      .new-message{
        display: flex;
        .input-box {
          width: 100%;
          position: relative;
          &__text {
            height: 50px;
            width: 100%;
            color: #434a54;
            border-style: none;
            padding-left: 10px;
          }
          &__image {
            position: absolute;
            top: 10px;
            right: 10px;
            cursor: pointer;
            font-size: 1.3rem;
            &__file {
              display: none;
            }
          }
        }
        .submit-btn{
          height: 50px;
          background-color: #38aef0;
          color: $main_color;
          margin-left: 15px;
          cursor: pointer;
          padding: 0 30px;
        }
      }
    }
  }
}